/* Global View aka Desktop View */
body {
    font-family: 'Asap', sans-serif;
    background-color: #EBEBEB;
}


.container {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    back
}

.header-container {
    background-color: rgb(116, 116, 116);
    min-height: 100px;
    margin-bottom: 40px;
}

header {
    max-width: 1024px;
    /* background-color: blueviolet; */
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
}

span.logo-text {
    font-weight: bold;
}

nav {
    color: white;
}

.col {
    width: 30%;
    margin-bottom: 40px;
    background-color: rgb(6, 102, 181);
}

.col p {
    color: white;
    font-size: 0,875rem;
    padding: 20px 25px;
    line-height: 1.25rem;
}

.hide-desktop-only {
    display: none;
}


/* Tablet View */
@media (max-width: 768px) {
    .col {
        width: 45%;
    }
    .hide-desktop-only {
        display: block;
    }
   
}

.col img {
    width: 100%;
    height: auto;
}

.col p::first-line {
    font-weight: 700;
}

/* Mobile View */
@media (max-width: 400px) {

    .col {
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }

   
}
